@import "tailwindcss";

/* Кастомные переменные через @theme */
@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-code: "Source Code Pro", "Office Code Pro", Menlo, monospace;
  --bg-brand: #121212;
  --brand: rgb(64, 207, 143);
  --brand-dark: #6ee7b7;
  --brand-light: #008236;
  --brand-bg-buttons: rgba(64, 207, 143, 0.1);
}
@layer utilities {
  ::selection {
    color: black;
    background-color: var(--brand-dark);
  }
}

/* Кастомные утилиты */
.text-brand {
  color: var(--brand);
}

.bg-brand {
  background-color: var(--bg-brand);
}
.text-brand-dark {
  color: var(--brand-dark);
}
.text-brand-light {
  color: var(--brand-light);
}
.bg-brand-light {
  background-color: var(--brand-light);
}

.photo-glow {
  box-shadow: 0 0 15px rgba(64, 207, 143, 0.4),
              0 0 30px rgba(64, 207, 143, 0.3),
              0 0 45px rgba(64, 207, 143, 0.2);
}

/* 👇 Добавляем кастомную утилиту для шрифта */
.font-sans {
  font-family: var(--font-sans);
}

/* Кнопка в стиле бренда */
.color-button {
  background-color: var(--brand-bg-buttons);
  color: var(--brand-dark);
  border: 1px solid var(--brand);
  transition: all 0.3s ease;
}
.color-button:hover {
  background-color: var(--brand);
  color: black;
  box-shadow: 0 0 10px rgba(64, 207, 143, 0.6);
}

/* Technology Slider Animation */
@layer utilities {
  @keyframes slide {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .animate-continuous-slide {
    animation: slide 30s linear infinite;
  }
}
@keyframes animated-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
:root { --header-h: 64px; }
body {
  /* сам градиент */
  background: linear-gradient(
    -45deg,
    #0f0f0f,
    #0f1f1f,
    #102020,
    #3ecf8e,
    #0f1f1f
  );
  background-size: 400% 400%;
  animation: animated-gradient 120s ease infinite;

  /* фиксируем фон на месте */
  background-attachment: fixed;

  /* чтобы контент был сверху */
  color: white;
}
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(8px); }
  to   { opacity: 1; transform: translateY(0); }
}