@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --bg-brand: #121212;
  --brand: rgb(64, 207, 143);
  --brand-dark: #008236;
  --brand-light: #6ee7b7;
  --brand-bg-buttons: ;
}

/* 👇 создаём кастомные утилиты, как будто это Tailwind */
.text-brand {
  color: var(--brand);
}
.bg-brand {
  background-color: var(--bg-brand);
}
.text-brand-dark {
  color: var(--brand-dark);
}
.text-brand-light {
  color: var(--brand-light);
}
.bg-brand-light {
  background-color: var(--brand-light);
}
.photo-glow {
  box-shadow: 0 0 15px rgba(64, 207, 143, 0.4), 0 0 30px rgba(64, 207, 143, 0.3),
    0 0 45px rgba(64, 207, 143, 0.2);
}
.color-button {
}
